<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="experience.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body>
    <div class="title">
        <div>Traci Nicholls</div>
    </div>

    <!-- Links -->
    <div class="navigation-bar">
        <div class="nav-link">
            <div><a href="../../index.html">HOME</a></div>
        </div>
        <div class="nav-link">
            <div><a href="../aboutme/aboutme.html">ABOUT ME</a></div>
        </div>
        <div class="nav-link">
            <div><a href="../experience/experience.html">EXPERIENCE</a></div>
        </div>
        <div class="nav-link">
            <div><a href="../contact/contact.html">CONTACT</a></div>
        </div>
    </div>


    <!-- Main Section -->
    <div>
        <div class="middle-section-experience">
            <div class="left-column-experience"></div>

            <div class="right-column-experience"></div>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-container">
            <div class="footer-container-left">
                <div class="git">
                    <a href="https://github.com/tracinicholls" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

                <div class="linked">
                    <a href="https://www.linkedin.com/in/traci-nicholls-570b0049/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="footer-container-right"> Website developed and designed by Traci Nicholls</div>
        </div>
    </div>
</body>

</html>